header {
    padding-block: 20px;
    border: solid 1px var(--brand-purple-dark);
    border-inline: none;

    gap: 8px;
    margin-top: 20px;
}

header nav {
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

#links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}