.skills-container {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-accent);
    margin-bottom: 48px;
}

.skills-subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-muted);
    margin-top: 40px;
    margin-bottom: 24px;
    text-align: center;
    letter-spacing: 1px;
}

/* GRID DE SKILLS */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* CARD DE SKILL */
.skill-card {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 20px;
    border-radius: 999px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(8px);
    transition: 0.3s ease;
    cursor: default;
}

.skill-card img {
    width: 22px;
    height: 22px;
}

/* TEXTO DAS SKILLS */
.skill-card span {
    font-size: 1rem;
    color: var(--text-soft);
}

/* HOVER NEON */
.skill-card:hover {
    border-color: var(--brand-pink-primary);
    box-shadow: 0 0 16px #ff00e544;
    transform: translateY(-4px);
}